<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seoul.buskinggo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".buskingList.BuskingListActivity" />
        <activity android:name=".buskerRegister.BuskingRegister" />
        <activity android:name=".signUp.SignUpActivity" />
        <activity android:name=".passwordChange.PasswordChangeActivity" />
        <activity android:name=".nickNameChange.NickNameChangeActivity" />
        <activity android:name=".myPage.MyPageActivity" />
        <activity android:name=".forgotPassword.ForgotPasswordActivity" />
        <activity android:name=".configure.ConfigureActivity" />
        <activity android:name=".buskingRegister.BuskingRegisterActivity" />
        <activity android:name=".buskingInfo.BuskingInfoActivity" />
        <activity android:name=".buskerInfo.BuskerInfoActivity" />
        <activity android:name=".buskerconfigure.BuskerConfigureActivity" />
        <activity android:name=".buskerRegister.BuskerRegisterActivity"></activity>
    </application>

</manifest>