<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="buskinggo.seoul.com.buskinggo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_busker_info"
            android:parentActivityName="buskinggo.seoul.com.buskinggo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="buskinggo.seoul.com.buskinggo.MainActivity" />
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".configure.ConfigureActivity" />
        <activity android:name=".configure.ChangeNicknameActivity"></activity>
        <activity android:name="BuskingInfoActivity"
            android:label="BuskingInfoActivity"
            android:parentActivityName="buskinggo.seoul.com.buskinggo.BuskerInfoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="buskinggo.seoul.com.buskinggo.BuskerInfoActivity" />
        </activity>
    </application>

</manifest>